/* Universal Selector - used to target all elements */
* {
	margin: 0;
	padding: 0;
	font-family: 'Rubik', sans-serif;.	
}

body {
	background: #fed43a;
}
.company{
	font-family: 'ZCOOL KuaiLe', cursive;
	font-size: 15px;
}
.nav-link{
	color: blue
}
.fa-facebook {
 padding: 5px;
  color: white;
}

.fa-linkedin {
  padding: 5px;
  color: white;
}

.fa-instagram {
 padding: 5px;
  color: white;
  }
.web{
	font-size: 2px;
	text-align:center;
}
/*MY NAME*/
.aj{
	color: black;
	padding-top: 50px;
	font-size: 50px;
	font-family: 'Bebas Neue', cursive;
	text-align: center;
}

.pic{
  display: block;
  margin-left: auto;
  margin-right: auto;.

}

/*FULL STACK TEXT UNDER MY NAME*/
.full{
	color: black;
	font-style: italic;
	font-size: 20px;
	text-align: center;
}
/*About me description*/
.web{
	color: black;
	font-size: 50px;		
}
.description{
	font-size: 15px;
	text-align: center;
	padding-top: 15px;
}
/*CEBU PHILIPPINES FONT*/
.cebu{
	color: #073982;
	font-family: 'Permanent Marker', cursive;
	font-weight: bold;

}
/*FULL STACK WEB DEVELOPER TITLE*/
.stack{
	color: #fed43a;
	font-style: italic;
	font-weight: bold;
}

/*TECHNICAL SALES ENGINEER TITLE*/
.sales{
	color: #fed43a;
	font-style: italic;
	font-weight: bold;

}
/*SERVICE ENGINEER TITLE*/
.service{
	color: #fed43a;
	font-style:#fed43a italic;
	font-weight: bold;
}

/*WORK EXPERIENCE HEADING*/
.experience{
	padding-top: 100px;
	padding-bottom: 10px;
	font-weight: bold;
	font-size: 60px;
	font-family: 'Bebas Neue', cursive;
	text-align: 	center;
}
.work-description{
	font-size: 20px;
	text-align:center; 
}

.card-body{
	color: #fed43a;
	font-size: 15px;
}

/*freediving photos heading*/
.photos{
	padding-top: 50px;
	font-weight: bold;
	font-size: 60px;
	font-family: 'Bebas Neue', cursive;
	text-align: 	center;
}
/*TOOLS I USE HEADIING*/
.tools{
	padding-top: 100px;
	padding-bottom: 0px;
	font-weight: bold;
	font-size: 60px;
	font-family: 'Bebas Neue', cursive;
	text-align: 	center;
}
.card-title{
	color: #fed43a ;
	font-weight: normal;
	font-size: 20px;
	font-family: 'Bebas Neue', cursive;
	text-align: center;
}

/*CONTACT HEADING*/
.contact-title{
	padding-top: 50px;
	padding-bottom: 0;
	font-weight: bold;
	font-size: 60px;
	font-family: 'Bebas Neue', cursive;
	text-align: 	center;
}

.form-group{
	text-align: center;
	color:#fed43a ;
}
/*BUTTON BACKGROUND*/
.btn{
	background:#fed43a ;
	color: black;
}

